
<div>
  <div class="statistiky">
    <h1>Aktuálne rezervácie</h1>
    <div>
      <p>
        Odcvičených hodín: <b>{{ roundDown((this.inactive.length * 75) / 60)}}h {{ (this.inactive.length * 75) % 60  }}m</b>
      </p>
    </div>
    <div class="rating" >
      <span *ngFor="let rank of rank_numbers; let j = index" (mouseenter)="onHover()" (mouseleave)="onLeave()" [class.hovered]="isHovered" class="star" [class.filled]="inactive.length >= rank">
        <p class="popup"><b> Ziskávaš úroveň {{ j +1 }}</b> <br> za dosiahnutie <b>{{ rank }}</b> tréningov</p>
      </span>
    </div>
  </div>
  <table class="table table-sm">
    <thead>
    <tr >
      <th scope="col" class="CAS" >ČAS</th>
      <th scope="col" >Zrušit</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items ">
        <td  *ngIf="item.status == true">{{item.currentTime | date:'dd.MM.yyyy HH:mm'}}</td>
        <td  *ngIf="item.status == true">
        <a (click)="openModal(template,item)"><i class="fa-solid fa-trash-can"></i></a>
      </td>

    </tr>
    </tbody>
  </table>
</div>

<div>
  <h1>Historia</h1>
  <table class="table table-sm">
    <thead>
    <tr>
      <th scope="col" style="width: 5%; padding-left: 10px">#</th>
      <th scope="col" class="CAS">ČAS</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of inactive | slice:0:20; let j = index">
        <th scope="row">{{j + 1}}</th>
        <td>{{item.currentTime}}</td>
    </tr>
    </tbody>
  </table>
</div>
<ng-template #template>
  <div class="modal-body text-center">
    <p>Naozaj chceš odstraniť zadanú rezerváciu ? {{rezervation_to_delete.currentTime | date: "MM.dd HH:mm"}}</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>

