<div class="row d-flex justify-content-center align-items-center h-100">
  <div class="col-12 col-md-8 col-lg-6 col-xl-5">
    <div class="card bg-secondary text-white" style="border-radius: 1rem;">
      <div class="card-body p-5 text-center">

        <div class=" mt-md-4 pb-5">
          <h1 class="fw-bold mb-2">JunakReservation</h1>
          <p class="text-white-50 mb-5">Zadaj meno a heslo!</p>

          <form (ngSubmit)="check(formElement)" #formElement=ngForm [class.was-validated]="formElement.submitted || formElement.touched">

            <div class="form-outline form-white mb-4">
              <label class="form-label" for="email">Email</label>
              <input name="email" id="email" class="form-control" ngModel required #email="ngModel">
            </div>

            <div class="form-outline form-white mb-4">
              <label class="form-label" for="password">Heslo</label>
              <input type="password" name="password" id="password" class="form-control" ngModel required #password="ngModel"/>
            </div>
            <div *ngIf="error != undefined " class="alert alert-danger" role="alert">
              Zadal si zlý email alebo heslo
            </div>
            <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
          </form>
        </div>
          <div>
            <p class="mb-0">Nemáš účet ? <a href="#!" routerLink="newUser" class="text-white-50 fw-bold">Registruj sa</a>
            </p>
          </div>
      </div>
    </div>
  </div>
</div>
<!--</div>-->



<!--<div class="container mt-5">-->
<!--  <h1>Google Login with Angular - ItSolutionStuff.com</h1>-->
<!--  <div class="row mt-5">-->
<!--    <div class="col-md-4 mt-2 m-auto ">-->
<!--      <button class="btn btn-danger" #loginRef>-->
<!--        Login with Google-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
