

<div *ngIf="currentUsers?.length && !!currentUsers; else nobody">
  <span style="display: flex; justify-content: space-between; align-items: flex-end">
  <h2>Aktuálne má rezerváciu: </h2>
    <h3><a routerLink="allrezervation"  style="color: black"> Zobrazit všetky rezervácie </a></h3>
  </span>
  <div class="row ms-3" >
    <div  class=" col-md-2 col-sm-6 col-12 "  *ngFor="let user of currentUsers">
      <div id="mainCard" class="card mb-4 Card" style="max-width: 8rem;">
        <span class="card-header" style="display: flex; justify-content: center;">  </span>
        <div class="card-body" style="display: flex; justify-content: center;">{{user.firstName}} {{user.lastName}} </div>
      </div>
   </div>
  </div>
</div>

<ng-template #nobody >
  <span style="display: flex; justify-content: space-between; align-items: flex-end">
      <h2>Aktuálne nemá nikto rezerváciu! </h2>
      <a routerLink="allrezervation" style="color: black">Zobrazit všetky rezervácie </a>
  </span>
</ng-template>

<h2 class="mb-3">
  Zoznam použivateľov
</h2>

<table class="table table-bordered table-striped table-hover"  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
  <thead>
  <tr>
    <th>Meno</th>
    <th>Priezvisko</th>
    <th>Email</th>
    <th class="icon icon-link-colum">Edit</th>
    <th class="icon icon-link-colum">Delete</th>
    <th> Rola </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of items">
    <td>{{user.firstName}}</td>
    <td>{{user.lastName}}</td>
    <td>{{user.email}}</td>
    <td><a [routerLink]="[user.id,'editUser']" ><i class="fa-solid fa-pen-to-square"></i></a></td>
    <td><a (click)="openModal(template,user)"><i class="fa-solid fa-trash-can"></i></a></td>
    <td>{{user.role}}</td>
  </tr>
  </tbody>
</table>
<ng-template #template>
  <div class="modal-body text-center">
    <p>Naozaj chceš odstraniť zadaného použivateľa ? <b>{{ user.firstName }} {{ user.lastName }}</b></p>
    <button type="button" class="btn btn-primary" (click)="confirm()" >Áno</button>
    <button type="button" class="btn btn-default" (click)="decline()" >Nie</button>
  </div>
</ng-template>



