<div>
  <h1> AHOJ {{user.firstName}} !</h1>
</div>
<div>
  <p> Vitaj v registračnom systéme Posilňovni Junák. Ďakujeme za registráciu</p>
</div>
<div>
  <div class="row ms-3" >
    <div  class=" col-6"  >
      <div class="card mb-4 Card" style="max-width: 50rem;">
        <span class="card-header" style="display: flex; justify-content: center;"> ČO TREBA VEDIEŤ </span>
         <div class="card-body text-white" style="display: flex; justify-content: center;">
            <ul>
            <li> Posilňovňa Junák sa nachádza na bloku C2 hneď vedľa pracovné
            </li>
            <li> Posilňovňa Junák je pod správou ŠpEAI
            </li>
            <li> V prípade viac informácii sme Ti k dispozícii na našom FB: <a href="https://www.facebook.com/SPEaI">SpEAI</a>
            </li>
            </ul>
        </div>
      </div>
    </div>
    <div class=" col-6"  >
      <div class="card mb-4 Card" style="max-width: 50rem;">
        <span class="card-header" style="display: flex; justify-content: center;"> ČO TREBA SPRAVIŤ </span>
        <div class="card-body text-white" style="display: flex; justify-content: center;">
          <ul>
            <li> Cena za členstvo pre zimný alebo letný semester je 35€, v prípade zakúpenia obidvoch semestrov cena 60€
            </li>
            <li> Hromadná registrácia sa uskutoční už 20.9.2023 (streda) u nás v parlamente (miestnosť nad Bistrom Mladosť)
            </li>
            <li> Na registráciu je potrebné doniesť peniaze a fotku s rozmermi ako je na ubytovacom preukaze
            </li>
            <li> Ak sa v danom termíne nemôžete dostaviť je potrebné písať na Náš Facebook kde sa dohodneme na náhradnom termíne
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

