<div>
  <h1> AHOJ {{user.firstName}} !</h1>
</div>
<div>
  <p> Vitaj v registračnom systéme Posilňovni Junák. Ako prvé ti ďakujeme za tvoju registráciu.</p>
</div>
<div>
  <div class="row ms-3" >
    <div  class=" col-6"  >
      <div class="card mb-4 Card" style="max-width: 50rem;">
        <span class="card-header" style="display: flex; justify-content: center;"> ČO TREBA VEDIEŤ </span>
        <div class="card-body" style="display: flex; justify-content: center;"> asdfpokasodfk okasdofkas dsofkosdf kodf osdkf sodfosfpSAD KPAOSDF OSD FKPSDoksdf </div>
      </div>
    </div>
    <div class=" col-6"  >
      <div class="card mb-4 Card" style="max-width: 50rem;">
        <span class="card-header" style="display: flex; justify-content: center;"> ČO TREBA SPRAVIŤ </span>
        <div class="card-body" style="display: flex; justify-content: center;"> koasdkfoaksdofasodnfoiasndpfmaspdmfp asdfasdfoiasdjf iaskdofkas=dfk= </div>
      </div>
    </div>
  </div>
</div>
